/*#icons{
    margin: 20px;
}
#moreicon{
    margin-right: 10px;
}
#googlenewslogo{
    margin-right: 45px;
}
#sreachbar{
    width: 720px;
    height: 45px;
    margin-left: 45px;
    background-color: rgb(241,243,244);
    border-radius: 5px;
}
#sreachicon{
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
}
#advsreach{
    width: 565px;
    height: 90%;
    border: hidden;
    background-color: rgb(241,243,244);
    font-size: 16px;
}
#arrow{
    margin-top: 10px;
    margin-left: 53px;
}
#profile{
    margin-top: 20px;
    margin-left: 200px;
}
#apps{
    margin-right: 10px;
}
#profileicon{
    margin-left: 10px;
}*/